*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo{
    min-height: 800px;
    background: url(../img/mainback.jpg) center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}
.title{
    color: #f9bf3b;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.simple .title_big{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}
h2.title{
    margin-top: 30px;
}
.promo .promo_text{
    padding: 0 13px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 23px;
}
.promo .promo_text span{
    color: #f9bf3b;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.promo .promo_btn{
    display: block;
    margin: 0px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 73px;
}

.more .more_text{
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 53px;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    background-color: #2c2c2c;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;   
    background-color: #efefef;
    padding: 85px 0 75px 0;
}
.waiting .waiting_header, .finish .finish_header{
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.finish .finish_header{
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader{
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 33px;
}
.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header{
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.optimization .optimization_text{
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: justifyLeft;
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.optimization .optimization_text span{
    font-family: "Roboto";
    font-weight: 700;
    
}
.optimization .optimization_img{
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}
.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/Layer_33.jpg') center center/ cover no-repeat;
}
.finish .finish_wrapper{
   margin-top: 41px;
   display: flex;
   justify-content: space-between;
}

.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}
.finish .finish_wrapper .finish_item .finish_descr{
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.recording{
    padding: 86px 0 86px 0;
    min-height: 628px;
    background-color: #efefef;  
}
.recording .recording_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.recording .recording_item .recording_pod2{
    margin-top: 1px;
}
.recording .recording_item .recording_pod{
    padding-left: 33px;
    padding-right: 10px;
}
.recording .recording_text{
    margin-top: 42px;
    margin-left: 394px;
    margin-right: 395px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.recording .recording_btn{
    display: block;
    margin: 0px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 80px;
}
.webinar{
    min-height: 515px;
}
.webinar .webinar_items{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 89px;
}
.webinar .webinar_first{
    margin-top: 37px;
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.webinar .webinar_second{
    margin-top: 30px;
    color: #299cbd;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.webinar .webinar_third{
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.footer{
    min-height: 166px;
    background-color: #1a1a1a;
}
.footer .link{
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer .link .linkin{
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.footer .link .call{
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.alllink{
    padding: 61px 0 69px 0;
}
